version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: painelceo_db
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: painelceo
    ports:
      - "3306:3306"
    volumes:
      - painelceo_db_data:/var/lib/mysql
    networks:
      - painelnet

  app:
    build: .
    container_name: portal_ceo_app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/painelceo
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345
    depends_on:
      - db
    networks:
      - painelnet

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - app
    networks:
      - painelnet

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - painelnet

volumes:
  painelceo_db_data:
  prometheus_data:
  grafana_data:

networks:
  painelnet:
