<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meus Servi√ßos - ERP Corporativo</title>
</head>
<body th:replace="~{base/layout :: layout}">
  <!-- Script de notificaÁıes -->  <!-- jQuery necess·rio para o sistema de notificaÁıes -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>



  <script th:src="@{/js/notifications.js}"></script>
  <!-- jQuery necess·rio para o sistema de notificaÁıes -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  
  <!-- Script de notificaÁıes -->  <!-- jQuery necess·rio para o sistema de notificaÁıes -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>



  <script th:src="@{/js/notifications.js}"></script>

</body>
</html>